@inherits LayoutComponentBase

<PageTitle>RegistroPrestamosAp1</PageTitle>

<div class="top-row px-4" style="background-color:#121420">
    <img src="https://cdn4.iconfinder.com/data/icons/one-piece-twotone/48/Cartoons__Anime_One_Piece_Artboard_1-512.png" style="height:43px;">
</div>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
