<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><em>Sr.Prestamos.</em></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Registros" @onclick="()=>expandSubMenu2 = !expandSubMenu2" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Registros
            </NavLink>
            @if(expandSubMenu2){
                <NavLink class="expand-menu" href="R_Prestamos" Match="NavLinkMatch.All">
                    <span class="oi oi-plus" aria-hidden="true" style="text-decoration:none;"></span>Registro Prestamos.
                </NavLink>
                 <NavLink class="expand-menu" href="R_Ocupaciones" Match="NavLinkMatch.All">
                    <span class="oi oi-plus" aria-hidden="true"></span>Registro Ocupaciones.
                </NavLink>
                 <NavLink class="expand-menu" href="R_Personas" Match="NavLinkMatch.All">
                    <span class="oi oi-plus" aria-hidden="true"></span>Resgistro Personas.
                </NavLink>
            }
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="Consultas" @onclick="()=>expandSubMenu = !expandSubMenu" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Consultas
            </NavLink>
            @if(expandSubMenu){
            
                <NavLink class="expand-menu" href="C_Prestamos" Match="NavLinkMatch.All">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Consultas Prestamos.
                </NavLink>
                 <NavLink class="expand-menu" href="C_Ocupaciones" Match="NavLinkMatch.All">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Consultas Ocupaciones.
                </NavLink>
                 <NavLink class="expand-menu" href="C_Personas" Match="NavLinkMatch.All">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Consultas Personas.
                </NavLink>
            }
       
        </div>
        
        
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubMenu;
    private bool expandSubMenu2;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
